@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.progress-circle {
    position: relative;
    width: 150px;
    height: 150px;
  }
  .progress-circle svg {
    transform: rotate(-90deg);
  }
  .progress-circle circle {
    fill: none;
    stroke-width: 15;
    stroke-linecap: round;
  }
  .progress-circle .bg {
    stroke: #e5e7eb; /* Tailwind's gray-200 */
  }
  .progress-circle .progress {
    stroke-dasharray: 377; /* Adjusted for r=60 */
    stroke-dashoffset: 377;
    transition: stroke-dashoffset 1s;
  }
  .progress-circle[data-progress="34"] .progress {
    stroke-dashoffset: calc(377 * (1 - 84 / 100));
  }
  .progress-circle[data-progress="25"] .progress {
    stroke-dashoffset: calc(377 * (1 - 60 / 100));
  }
  .progress-circle[data-progress="35"] .progress {
    stroke-dashoffset: calc(377 * (1 - 35 / 100));
  }
  