@keyframes backgroundAnimation {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.background {
  position: relative;
  width: 100%;
  height: 91.6vh;
  background-image: url('/src/assets/STEM_CONTENT.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  animation: backgroundAnimation 20s infinite alternate;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 26, 26, 0.4);
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(11, 178, 255, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2; /* Ensure content is above overlay */
  padding: 20px;
  max-width: 90%;
  border-radius: 10px;
}

h2 {
  font-size: 3rem; /* Adjust size as needed */
  color: white;
}

h3 {
  font-size: 1.5rem; /* Adjust size as needed */
  color: white;
}

p {
  font-size: 1rem; /* Adjust size as needed */
  color: white;
}

@media (min-width: 640px) {
  .content {
    padding: 30px;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 40px;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}
